.searchContainer {
    position: relative;
    max-width: 600px;
    margin: 2rem auto;
    width: 100%;

    .searchIcon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color: #00ff9d;
        pointer-events: none;
    }

 
    .filters{
        display: flex;
        flex-direction: row;
            p{
                color: #fff ;
                margin-right: 1rem;
            }
    }

    @media (max-width: 768px) {
        position: relative;
        max-width: 600px;
        margin: 20px 0 0 0;
        width: 100%;
    }




}

.searchInput {
    width: 100%;
    padding: 5px;
    border: 2px solid #00ff9d;
    border-radius: 12px;
    font-size: 1rem;
    background: white;
    color: #1a1a2e;
    transition: all 0.3sease;
    height: 30px;

    &::placeholder {
        color: #666;
        opacity: 0.7;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 255, 157, 0.2);
        border-color: #00ff9d;
    }

    &:hover {
        border-color: #00ff9d;
    }

    @media (max-width: 768px) {
        padding: 0;
        font-size: 0.9rem;
    }
}